LOAD DATA CONCURRENT LOCAL INFILE '/home/student/CoursePicker/CSVFiles/CS_Course_Requirements.csv'
REPLACE
INTO TABLE CSCoursesRequirements
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\n'
(id,CoursePrefix,CourseNum);